html,body
{
    height: 100%;
    width : 100%;
    position : fixed;
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-size: medium;
    font-family: Roboto, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    /*font-variant: tabular-nums;*/
    /*line-height: 1.5715;*/
    background-color: #fff;
    font-feature-settings: 'tnum', "tnum";
}

/*need for hex edit with monospace font when displaying ff*/
* {
  font-variant-ligatures: none;
}

/*button bar to launch browser etc*/
.contents
{
    flex-grow:1;
    left:0;
    top:0;
    right:0;
    bottom:0;
    position:relative;
    border:1px solid gray;
}

.app
{
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

i.icon
{
  height : initial;
  width : initial;
}

#container  {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    display: flex;
    overflow: hidden;
    background-color: black;
}

::-webkit-scrollbar { width: 4px; height: 4px;}
::-webkit-scrollbar-button {  background-color: #222; }
::-webkit-scrollbar-track {  background-color: #444;}
::-webkit-scrollbar-track-piece { background-color: #333;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #333;}
::-webkit-resizer { background-color: #666;}

regular-table::-webkit-scrollbar { width: 8px; height: 8px;}
regular-table::-webkit-scrollbar-button {  background-color: #222; }
regular-table::-webkit-scrollbar-track {  background-color: #444;}
regular-table::-webkit-scrollbar-track-piece { background-color: #333;}
regular-table::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
/*regular-table::-webkit-scrollbar-corner { background-color: #333;}*/
regular-table::-webkit-resizer { background-color: #666;}
/*regular-table:hover::-webkit-scrollbar-button {  background-color: #222; }*/


.linkButton {
  height: inherit;
  padding: 0px 0px;
  font-size: inherit;
  border-radius: 0px;
  /*overflow-wrap : break-word;*/
}

/*css must be loaded before the main one or it will not be overrided by that */
regular-table 
{
  background : #222;
  padding : 0 0 0 0;
}

regular-table thead tr:last-child th 
{
  border-bottom: 1px solid #ddd;
  white-space: pre-wrap;
  background : gray;
  color : black;
  font-family : Monospace;
  font-weight : bold;
  /*font-size ?*/
  padding : 0px 6px;
  border-right: 1px solid #333;
  border-bottom: 0px;
  padding : 4px 0px 0px 0px;
}

regular-table  th {
    text-align: left;
}

regular-table td {
    border-right: 1px solid #333;
    /*border-bottom: 1px solid #333;*/
    /*padding:4px;*/
}

.ant-form-item-label > label
{
  color : white;
}

.ant-table-tbody > tr.ant-table-row-selected > td 
{
  background-color : #5a5a5a;
  color : black;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after 
{
  background-color : white;
}

.ant-checkbox-checked .ant-checkbox-inner,.ant-checkbox-indeterminate .ant-checkbox-inner, .ant-checkbox-disabled .ant-checkbox-inner 
{
  background-color : #333;
  border-color : gray; 
}

.ant-checkbox-indeterminate .ant-checkbox-inner, 
{
  background-color : #333;
  border-color : gray; 
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,.ant-checkbox:hover .ant-checkbox-inner,.ant-checkbox-input:focus+.ant-checkbox-inner
{
  border-color: white;
  /*background-color: #dadada;*/
}

.ant-checkbox-inner, .ant-checkbox-input
{
  width : 14px;
  height : 14px;
  background-color : #333;
  border-color : gray; 
}

.ant-table-row-selected 
{
  /*color : green;*/
  background-color : blue;
}

.drag-line {
 width:0;
 margin-left:-1px;
 margin-top:0;
 border-bottom:0 none;
 border-left:dashed 2px #1890ff !important; /* use same blue as search*/ 
}

.ant-table-column-title
{
  cursor : move;
}

.ant-table-column-sorters
{
  cursor : pointer;
}

.ant-table
{
  background : #222;
  color : gray;
  padding : 0px 0px;
  border-collapse: collapse;
}

/*.ant-table-header {*/
  /*overflow-y: auto !important;*/
/*}*/
/*.ant-table-body { overflow-x: auto !important} */
/* big resizable
.react-resizable {
  position: relative;
}
*/

ant-table [vt] > table > .ant-table-tbody > tr > td {
    padding: 8px;
}

.ant-modal-header
{
  background-color: #222;
}

.ant-modal-footer
{
  background-color: #222;
}

.ant-transfer-list-header
{
  color :  gray;
  background : #222;
}

.ant-modal-title
{
  color: gray;
}

.ant-transfer-list-content-item-text
{
  color: gray;
}

.ant-modal-body
{
  background-color: #222;
  color: gray;
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.ant-table-thead  > tr > th
{
  background : gray;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td
{
  padding : 0px 6px;
  /*border-right: 0px;*/
  border-right: 1px solid #333;
  border-bottom: 0px; 
  /*border-bottom: 1px solid #333;*/
}

.ant-pagination-prev button, .ant-pagination-next button
{
  color : white;
}

.ant-pagination-simple .ant-pagination-simple-pager
{
  display : contents;
}

.ant-pagination 
{
  display : flex;
  align-items : center;
}

.ant-pagination-simple .ant-pagination-simple-pager input
{
  background-color : black;
  color : white;
}

.ant-table-pagination.ant-pagination {
 margin: 0px;
}

td.ant-table-column-sort {
  background: initial; 
}

/*
.ant-table-small .ant-table-thead > tr > th {
  background-color: #fafafa;
}*/

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  /*background: blue;*/
  background: #dadada;
}

/*.ant-table-filter-dropdown-tree .ant-tree-treenode .ant-tree-node-content-wrapper:hover {
  background-color: #f5f5f5;
  background-color: yellow;
}*/
/*.ant-table-filter-dropdown-tree .ant-tree-treenode-checkbox-checked .ant-tree-node-content-wrapper,
.ant-table-filter-dropdown-tree .ant-tree-treenode-checkbox-checked .ant-tree-node-content-wrapper:hover {
  background-color: #bae7ff;
  background-color: blue;
}
.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
  background: green;
}*/

.ant-tree
{
  background : #222;
  color : gray;
}

.ant-tree-indent-unit {
  width: 12px;
}

.ui.xs.button {
  font-size: 2.68571429rem !important;
}

.ui.xs.input {
  font-size: 2.68571429em;
}

.toolbar
{
    margin:2px;
    display: flex;
    align-items:center;
}

.toolbar_control {
    color:lightgray;
    background-color:black;
    border-radius:3px;
    border: 1px solid #444;
}

.drag-from {
    background-color: #666;
    color: white;
}

.react-icons {
  vertical-align: sub;
}

/* bundled table styling*/
.table {
    background-color: #222;
    color: gray;
    border-collapse: collapse;
}
.table th {
    color: #ddd;
    background-color: #282828;
    border-right: 1px solid #333;
    padding:4px;
    border-bottom-color: transparent;
    text-align: left;
    width:100px;
    min-width: 100px;
}

.table td {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding:4px;
}
.table tr:nth-child(even) {background: #242424}
.table tr:nth-child(odd) {background: #222}

.tab-storage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	overflow: auto;
}

.tab-storage > .tab-storage-tabs > .tab-storage-entry {
	padding: 1em;
	background-color: #222;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

.tab-storage > .tab-storage-tabs > .tab-storage-entry:last-child {
	margin-bottom: 0;
}

small {
    color: lightgray;
}

li {
    color:white
    ;
    margin-bottom: 1em;
}

ul {
    margin-right: 1em;
}
